

DATABASE_URL=            


REDIS_URL=


SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=


CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


API_V1_STR=/api/v1
PROJECT_NAME=


NEXT_PUBLIC_API_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=