
DATABASE_URL=postgresql+asyncpg://arbiter:arbiter@postgres:5432/arbiter

REDIS_URL=redis://redis:6379/0

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=1440

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

API_V1_STR=/api/v1
PROJECT_NAME=Arbiter
